.m-header {
  width: 100%;
  height: .56rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: .56rem;
  font-size: .16rem;
}
.m-header .m-back {
  position: fixed;
  left: 0;
  top: 0;
  width: .4rem;
  height: .56rem;
  line-height: .56rem;
  text-align: center;
}
.m-header .m-back i {
  font-size: .18rem;
}
