.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.login .profile {
  height: .62rem;
  width: 100%;
  margin-top: .47rem;
  margin-bottom: .59rem;
  line-height: .62rem;
  text-align: center;
}
.login .profile img {
  display: inline;
  width: .62rem;
  height: 100%;
}
.login .login_form {
  padding: .2rem;
}
.login .login_form input {
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  border-radius: .05rem;
  border: 1px solid #F3F3F3;
  font-family: "微软雅黑";
  text-indent: .1rem;
}
.login .login_form .password {
  margin-top: .2rem;
}
.login .login_form .toreg {
  color: #188AE4;
  margin: .2rem 0;
  display: block;
  font-size: .14rem;
}
.login .login_form .btn_login {
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  border-radius: .05rem;
  text-align: center;
  color: #fff;
  background-color: #188AE4;
  font-size: .16rem;
}
.login .login_form .tips {
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  color: lightcoral;
  font-size: .14rem;
}
